<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head></head>
<body>
<section layout:fragment="content">
    <div class="table-filter">
        <div class="filter-name">Filter:</div>
        <div class="filter-content">
            <a class="btn btn-outline-primary" th:href="@{'/'(page=1,size=${entries.size},sort=${sort},state='all')}" th:classappend="${state=='all' ? 'active' : ''}"
               data-toggle="tooltip" data-placement="bottom" title="All indexed entries">
                All <span class="badge badge-light" th:text="${countAll}"></span>
            </a>
            <a class="btn btn-outline-success" th:href="@{'/'(page=1,size=${entries.size},sort=${sort},state='active')}" th:classappend="${state=='active' ? 'active' : ''}"
               data-toggle="tooltip" data-placement="bottom" title="FAIR Data Points that regularly send ping and are verified">
                Active <span class="badge badge-light" th:text="${countActive}"></span>
            </a>
            <a class="btn btn-outline-dark" th:href="@{'/'(page=1,size=${entries.size},sort=${sort},state='inactive')}" th:classappend="${state=='inactive' ? 'active' : ''}"
               data-toggle="tooltip" data-placement="bottom" title="FAIR Data Points that did not send ping for longer time">
                Inactive <span class="badge badge-light" th:text="${countInactive}"></span>
            </a>
            <a class="btn btn-outline-warning" th:href="@{'/'(page=1,size=${entries.size},sort=${sort},state='unreachable')}" th:classappend="${state=='unreachable' ? 'active' : ''}"
               data-toggle="tooltip" data-placement="bottom" title="Entries that could not be reached (firewall, local network, etc.)">
                Unreachable <span class="badge badge-light" th:text="${countUnreachable}"></span>
            </a>
            <a class="btn btn-outline-danger" th:href="@{'/'(page=1,size=${entries.size},sort=${sort},state='invalid')}" th:classappend="${state=='invalid' ? 'active' : ''}"
               data-toggle="tooltip" data-placement="bottom" title="Entries that are verified to be FAIR Data Points">
                Invalid <span class="badge badge-light" th:text="${countInvalid}"></span>
            </a>
            <a class="btn btn-outline-info" th:href="@{'/'(page=1,size=${entries.size},sort=${sort},state='unknown')}" th:classappend="${state=='unknown' ? 'active' : ''}"
               data-toggle="tooltip" data-placement="bottom" title="Entries that are not yet tested">
                Unknown <span class="badge badge-light" th:text="${countUnknown}"></span>
            </a>
        </div>
    </div>
    <table class="table table-striped" id="entries">
        <thead>
        <tr>
            <th>
                <span class="heading">Endpoint</span>
                <a class="sort-link sort-link-asc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='clientUrl,asc',state=${state})}" th:classappend="${sort == 'clientUrl,asc' ? 'active' : ''}">&#9650;</a>
                <a class="sort-link sort-link-desc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='clientUrl,desc',state=${state})}" th:classappend="${sort == 'clientUrl,desc' ? 'active' : ''}">&#9660;</a>
            </th>
            <th class="right">
                <span class="heading">Registration</span>
                <a class="sort-link sort-link-asc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='registrationTime,asc',state=${state})}" th:classappend="${sort == 'registrationTime,asc' ? 'active' : ''}">&#9650;</a>
                <a class="sort-link sort-link-desc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='registrationTime,desc',state=${state})}" th:classappend="${sort == 'registrationTime,desc' ? 'active' : ''}">&#9660;</a>
            </th>
            <th class="right">
                <span class="heading">Modification</span>
                <a class="sort-link sort-link-asc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='modificationTime,asc',state=${state})}" th:classappend="${sort == 'modificationTime,asc' ? 'active' : ''}">&#9650;</a>
                <a class="sort-link sort-link-desc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='modificationTime,desc',state=${state})}" th:classappend="${sort == 'modificationTime,desc' ? 'active' : ''}">&#9660;</a>
            </th>
            <th class="right">
                <span class="heading">Status</span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}" class="entry-row">
            <td class="endpoint">
                <a th:href="@{'/entry'(clientUrl=${entry.clientUrl})}" th:text="${entry.clientUrl}"></a>
            </td>
            <td class="timestamp" th:text="${entry.registrationTime}"></td>
            <td class="timestamp" th:text="${entry.modificationTime}"></td>
            <td class="right">
                <a th:if="${entry.state == IndexEntryState.Valid && entry.lastRetrievalAgo < pingValidDuration}" th:href="${entry.clientUrl}" target="_blank" class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title="FAIR Data Point sends pings regularly and is valid">Active</a>
                <span th:if="${entry.state == IndexEntryState.Valid && entry.lastRetrievalAgo >= pingValidDuration}" class="badge badge-secondary" data-toggle="tooltip" data-placement="bottom" title="This FAIR Data Point does not seem to be working anymore">Inactive</span>
                <span th:if="${entry.state == IndexEntryState.Unreachable}" class="badge badge-warning" data-toggle="tooltip" data-placement="bottom" title="Entry was not reachable over network when checking">Unreachable</span>
                <span th:if="${entry.state == IndexEntryState.Invalid}" class="badge badge-danger" data-toggle="tooltip" data-placement="bottom" title="Entry does not seem to be a FAIR Data Point">Invalid</span>
                <span th:if="${entry.state == IndexEntryState.Unknown}" class="badge badge-info" data-toggle="tooltip" data-placement="bottom" title="Validity check has not been performed yet">Unknown</span>
            </td>
        </tr>
        <tr th:if="${entries.numberOfElements == 0}">
            <td class="empty-table-info" colspan="4">no entries to display</td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <div class="clearfix">
        <div class="float-md-left"><form th:action="@{'/'}" method="get" class="row mx-auto">
            <div class="col-sm">
                <div class="input-group">
                    <input type="number" class="form-control" id="size" name="size" min="1" th:value="${entries.size}" />
                    <div class="input-group-append">
                        <label class="input-group-text" for="size">per page</label>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group">
                    <input type="number" class="form-control" id="page" name="page" min="1" th:max="${entries.totalPages}" th:value="${entries.number + 1}" />
                    <div class="input-group-append">
                        <label class="input-group-text" for="page">page</label>
                    </div>
                </div>
            </div>
            <div>
                <input type="hidden" name="sort" th:value="${sort}" />
                <button type="submit" class="btn btn-primary">Go</button>
            </div>
        </form>
        </div>
        <nav class="float-md-right">
            <ul class="pagination col-sm">
                <li class="page-item" id="firstPage" th:classAppend="${entries.number > 0 ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=1,size=${entries.size},sort=${sort},state=${state})}" th:if="${entries.number > 0}">&#171;</a>
                    <span class="page-link" th:if="${entries.number <= 0}">&#171;</span>
                </li>
                <li class="page-item" id="previousPage" th:classAppend="${entries.number > 0 ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=${entries.number},size=${entries.size},sort=${sort},state=${state})}"
                       th:if="${entries.number > 0}">&#8249;</a>
                    <span class="page-link" th:if="${entries.number <= 0}">&#8249;</span>
                </li>
                <li aria-current="page" class="page-item disabled">
                      <span class="page-link">
                          <span id="currentPage" th:text="${entries.number + 1}"></span> / <span
                              id="totalPages" th:text="${entries.totalPages == 0 ? 1 : entries.totalPages}"></span>
                      </span>
                </li>
                <li class="page-item" id="nextPage"
                    th:classAppend="${entries.number < (entries.totalPages - 1) ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=${entries.number + 2},size=${entries.size},sort=${sort},state=${state})}"
                       th:if="${entries.number < (entries.totalPages - 1)}">&#8250;</a>
                    <span class="page-link" th:if="${entries.number >= (entries.totalPages - 1)}">&#8250;</span>
                </li>
                <li class="page-item" id="lastPage"
                    th:classAppend="${entries.number < (entries.totalPages - 1) ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=${entries.totalPages},size=${entries.size},sort=${sort},state=${state})}"
                       th:if="${entries.number < (entries.totalPages - 1)}">&#187;</a>
                    <span class="page-link" th:if="${entries.number >= (entries.totalPages - 1)}">&#187;</span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="clearfix"></div>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/localize-timestamps.js}"></script>
</section>
</body>
</html>
