<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head></head>
<body>
<section layout:fragment="content">
    <table class="table table-striped" id="entries">
        <thead>
        <tr>
            <th>
                <span class="heading">Endpoint</span>
                <a class="sort-link sort-link-asc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='clientUrl,asc')}" th:classappend="${sort == 'clientUrl,asc' ? 'active' : ''}">&#9650;</a>
                <a class="sort-link sort-link-desc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='clientUrl,desc')}" th:classappend="${sort == 'clientUrl,desc' ? 'active' : ''}">&#9660;</a>
            </th>
            <th class="right">
                <span class="heading">Registration</span>
                <a class="sort-link sort-link-asc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='registrationTime,asc')}" th:classappend="${sort == 'registrationTime,asc' ? 'active' : ''}">&#9650;</a>
                <a class="sort-link sort-link-desc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='registrationTime,desc')}" th:classappend="${sort == 'registrationTime,desc' ? 'active' : ''}">&#9660;</a>
            </th>
            <th class="right">
                <span class="heading">Modification</span>
                <a class="sort-link sort-link-asc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='modificationTime,asc')}" th:classappend="${sort == 'modificationTime,asc' ? 'active' : ''}">&#9650;</a>
                <a class="sort-link sort-link-desc" th:href="@{'/'(page=${entries.number},size=${entries.size},sort='modificationTime,desc')}" th:classappend="${sort == 'modificationTime,desc' ? 'active' : ''}">&#9660;</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}">
            <td class="endpoint">
                <a target="_blank" th:href="${entry.clientUrl}" th:text="${entry.clientUrl}"></a>
            </td>
            <td class="timestamp" th:text="${entry.registrationTime}"></td>
            <td class="timestamp" th:text="${entry.modificationTime}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <div class="clearfix">
        <div class="float-md-left">
            <span id="totalEntries" th:text="${entries.totalElements}"></span> entries in total
        </div>
        <nav class="float-md-right">
            <ul class="pagination">
                <li class="page-item" id="firstPage" th:classAppend="${entries.number > 0 ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=1,size=${entries.size},sort=${sort})}" th:if="${entries.number > 0}">&#171;</a>
                    <span class="page-link" th:if="${entries.number <= 0}">&#171;</span>
                </li>
                <li class="page-item" id="previousPage" th:classAppend="${entries.number > 0 ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=${entries.number},size=${entries.size},sort=${sort})}"
                       th:if="${entries.number > 0}">&#8249;</a>
                    <span class="page-link" th:if="${entries.number <= 0}">&#8249;</span>
                </li>
                <li aria-current="page" class="page-item disabled">
                      <span class="page-link">
                          <span id="currentPage" th:text="${entries.number + 1}"></span> / <span
                              id="totalPages" th:text="${entries.totalPages == 0 ? 1 : entries.totalPages}"></span>
                      </span>
                </li>
                <li class="page-item" id="nextPage"
                    th:classAppend="${entries.number < (entries.totalPages - 1) ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=${entries.number + 2},size=${entries.size},sort=${sort})}"
                       th:if="${entries.number < (entries.totalPages - 1)}">&#8250;</a>
                    <span class="page-link" th:if="${entries.number >= (entries.totalPages - 1)}">&#8250;</span>
                </li>
                <li class="page-item" id="lastPage"
                    th:classAppend="${entries.number < (entries.totalPages - 1) ? '' : 'disabled'}">
                    <a class="page-link" th:href="@{'/'(page=${entries.totalPages},size=${entries.size},sort=${sort})}"
                       th:if="${entries.number < (entries.totalPages - 1)}">&#187;</a>
                    <span class="page-link" th:if="${entries.number >= (entries.totalPages - 1)}">&#187;</span>
                </li>
            </ul>
        </nav>
    </div>
    <div class="clearfix">
        <div class="float-md-right">
            <form th:action="@{'/'}" method="get" class="row mx-auto">
                <div class="col-sm">
                    <div class="input-group">
                        <input type="number" class="form-control" id="size" name="size" min="1" th:value="${entries.size}">
                        <div class="input-group-append">
                            <label class="input-group-text" for="size">per page</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="input-group">
                        <input type="number" class="form-control" id="page" name="page" min="1" th:max="${entries.totalPages}" th:value="${entries.number + 1}">
                        <div class="input-group-append">
                            <label class="input-group-text" for="page">page</label>
                        </div>
                    </div>
                </div>
                <div>
                    <input type="hidden" name="sort" th:value="${sort}">
                    <button type="submit" class="btn btn-primary">Go</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../static/js/localize-timestamps.js" th:src="@{/js/localize-timestamps.js}"></script>
</section>
</body>
</html>
