<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>FAIR Data Point index</title>
    <link rel="stylesheet" th:href="@{/css/site.css}"/>
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}"/>

    <script th:src="@{/js/jquery/jquery.min.js}"></script>
    <script th:src="@{/js/popper/umd/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
<main>
    <header th:replace="fragments/header :: header"></header>

    <section class="container" id="content" layout:fragment="content"></section>

    <footer th:replace="fragments/footer :: footer"></footer>
</main>
</body>
</html>
