$primary: #00518E;
$secondary: #C6C6C6;

$font-family-sans-serif: 'Open Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

@import "../../../node_modules/bootstrap/scss/bootstrap";

div.separator {
  width: 100%;
  height: 10px;
  background: $primary;
  background: linear-gradient(90deg, $primary, $secondary);
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header img.logo {
  max-height: 3em;
  margin-right: 2em;
}

header div.container {
  min-height: 90px;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
}

section#content {
  flex-grow: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid #dcdcdc;
}

footer div.container {
  text-align: center;
  padding: 2rem;
}

table td.endpoint {
  overflow-wrap: anywhere;
}

table td.timestamp,
table th.right,
table td.right {
  text-align: right;
}

td, th {
  max-width: 20em;
}

a.sort-link:hover {
  text-decoration: none;
}

a.sort-link {
  color: $secondary;
  text-decoration: none;
}

a.sort-link.active {
  color: $primary;
  text-decoration: none;
}

div.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em;
}

div.error > .error-img {
  vertical-align: middle;
  max-width: 30%;
}

div.error > .error-text {
  margin: 1em;
  max-width: 50%;
}

h2.entry-title {
  margin: 1em 0;
}
div.entry-block {
  margin-top: 1em;
  padding-bottom: 0.5em;
  border-top: 1px solid lightgray;
  padding-top: 1.5em;
}
div.entry-block .table {
  margin: 0;
}
div.entry-label {
  float: right;
}


.index-stats {
  margin-bottom: 1em;
}

a.index-stat {
  margin: 1em;
  padding: 1em;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  text-align: center;
  display: block;
  color: black;
  text-decoration: none;
  border: 3px solid $secondary;
}

a.index-stat.active {
  border: 3px solid $primary;
}

.index-stat .number {
  font-weight: bold;
  font-size: 140%;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.3em;
}

.table-filter {
  display: flex;
  align-items: center;
  margin: 0.5em 0.75rem 1em 0.75rem;
}
.table-filter .filter-name {
  font-weight: bold;
}
.table-filter .filter-content {
  flex-grow: 1;
  text-align: right;
}

td.empty-table-info {
  text-align: center;
  font-style: italic;
}
